
<div class="container">

    <div class="col text-center">
     <h2>Statistiques générales de Eshop</h2>
     <p></p>
     </div>



 <!-- NUMBERS -->
    <div class="row text-center">
    <div class="col">
        <div class="counter">
            <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
            <h2 class="timer count-title count-number" >{{usersNumber}}</h2>
            <p class="count-text ">Utilisateurs</p>
        </div>
    </div>

    <div class="col">
        <div class="counter">
            <i class="fa fa-user-plus fa-2x"></i>
            <h2 class="timer count-title count-number" >{{productsNumber}}</h2>
            <p class="count-text ">Produits</p>
        </div>
    </div>

    <div class="col">
        <div class="counter">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            <h2 class="timer count-title count-number" >{{blockedUsersNumber}}</h2>
            <p class="count-text ">Utilisateurs Bloqués</p>
        </div>
    </div>

              
    <div class="col">
        <div class="counter">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            <h2 class="timer count-title count-number" >{{turnover}} MAD</h2>
            <p class="count-text ">Chiffre D'affaire</p>
        </div>
    </div>

 </div>

 <hr>



</div>