<mat-horizontal-stepper [linear]="isLinear" #stepper>

<mat-step>
    <ng-template matStepLabel>Récaputilatif</ng-template>
    <p>{{order.totalCost}} DH en total</p>
    <div>
      <button mat-button matStepperNext>Confirmer</button>
    </div>
</mat-step>

<mat-step [stepControl]="payementMethodFormGroup"  *ngIf="!orderCheckedOut">
    <form [formGroup]="payementMethodFormGroup" (ngSubmit)="onCheckout()">
    <ng-template matStepLabel>Choisissez une méthode de paiment</ng-template>
    <mat-form-field>
        <mat-label></mat-label>
        <input matInput placeholder="Paypal" formControlName="payementMethod">
    </mat-form-field>
    <div>
       <button mat-button matStepperPrevious>Précédent</button>
       <button [disabled]="payementMethodFormGroup.invalid" mat-button matStepperNext>Confirmer</button> 
     </div>
    </form>
</mat-step>


<mat-step *ngIf="orderCheckedOut">
    <ng-template matStepLabel>Fin de l'opération</ng-template>
    <p>Votre demande a été traité</p>
    <div>
      <button mat-button matStepperNext>Quitter</button>
    </div>
</mat-step>

</mat-horizontal-stepper>