<div class="m-4">
    <!-- Main -->
    <div class="main" class="d-flex flex-wrap row">
        <!-- images side -->
        <div class="gallery" class="d-flex flex-wrap order-1 col-sm-12 col-md-5">
            <div class="d-flex justify-content-start">
                <div class="images m-2 d-flex justify-content-around flex-column" style=" width: 25%;" >
                     <div *ngFor="let image of product.images">
                        <div (click)="setActiveImage(image.name)" (mouseenter) ="setActiveImage(image.name)"  (mouseleave) ="setActiveImage(previous_image)">
                             <img *ngIf="hasImages()" src="{{products_images_base_url}}{{image.name}}" alt="" width="90px" height="60"/>
                             <img *ngIf="!hasImages()" src="../../assets/images/notfound.png" alt="" width="90px" height="60"/>
                        </div>
                    </div>
                  </div>
                <div class="active-image w-100 ">
                    <img *ngIf="hasImages()" src="{{products_images_base_url}}{{active_image}}" alt="" width="600px" height="350px"/>
                    <img *ngIf="!hasImages()" src="../../assets/images/notfound.png" alt="" width="600px" height="350px"/>
                </div>
            </div>
        </div>
        <!-- info side -->
        <div class="info" class="order-2 p-4 col-sm-12 col-md-5">
            <div class="title" >
             <h1>{{product.title | titlecase}}</h1>
            </div>
            <div class="description" >
               <h2>{{product.description}}</h2>
            </div>
            <div class="stars" >
                <h4>{{product.note}} stars</h4>
            </div>
            <div *ngIf="product.promotionRatio==0" class="unit_price">
                {{product.unitPrice}} DH
            </div>
            <div *ngIf="product.promotionRatio>0 && product.promotionRatio<1 && product.unitPrice>0" class="">
                <del>{{product.unitPrice}} DH</del><br>
                {{product.unitPrice - product.unitPrice*product.promotionRatio}} DH<br>
                {{product.promotionRatio*100}}% off
            </div>
            <div *ngIf="product.promotionRatio==1 || product.unitPrice==0" class="">
                GRATUIT
            </div>
        </div>
        <!-- links -->
        <div class="Action" class="order-3 p-2 col-sm-12 col-md-2">
            <div>En stock : {{product.quantityInStock}} unités</div>
            <div *ngIf="product.quantityInStock==0">Rupture de stock.</div>
               
            <form class="form" [formGroup]="buyForm" (ngSubmit)="onClickSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Quantité</mat-label>
                    <input matInput type="number" min="0" max="{{product.quantityInStock}}" placeholder="" formControlName="quantity">
                </mat-form-field>
                <div>
                    <button [disabled]="buyForm.invalid" mat-button >Ajouter au panier</button>
                </div>
            </form>

         </div>
    </div>
    <!-- Similar products & comments -->
    <h2>Produits similairs :</h2>
    <div class="similar-products row">
         <app-similar-products [productId]="product.id"></app-similar-products>
    </div>
    <div class="comments row">
        comments
    </div>
</div>