<div class="container p-2">
<mat-toolbar color="primary">
    <span *ngIf="!edit">Créer un Compte</span>
    <span *ngIf="edit">Mes informations</span>
</mat-toolbar>
<br>
<div>
<mat-card-content>
    <form  class="form" [formGroup]="registrationForm" (ngSubmit)="onClickSubmit()"  >
        
        <div class="form-group">   
            <mat-form-field class="full-width" appearance="outline" class="full">
            <mat-label> Prénom </mat-label>
            <input [class.is-invalid]="isFieldValid('firstName')" type="text" matInput formControlName="firstName" >
            <mat-hint class="text-danger" *ngIf="isFieldValid('firstName')">Prénom n'est pas renseigné.</mat-hint>
            </mat-form-field>
            
        </div>

        <div class="form-group">
            <mat-form-field class="full-width" appearance="outline" class="full">
            <mat-label>Nom</mat-label>
            <input 
            [class.is-invalid]="isFieldValid('lastName')"
            type="text" matInput formControlName="lastName" >
            <mat-hint class="text-danger" *ngIf="isFieldValid('lastName')">Nom n'est pas renseigné.</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group"> 
            <mat-form-field class="full-width" appearance="outline" class="full">
                <mat-label>Ville</mat-label>
                <input type="text"  matInput formControlName="city" 
                [class.is-invalid]="isFieldValid('city')" 
                >
                <mat-hint class="text-danger" *ngIf="isFieldValid('city')">Ville n'est pas renseigné.</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group"> 
            <mat-form-field class="full-width" appearance="outline" class="full">
                <mat-label>Rue</mat-label>
                <input type="text"  matInput formControlName="streetName" 
                [class.is-invalid]="isFieldValid('streetName')" 
                >
                <mat-hint class="text-danger" *ngIf="isFieldValid('city')">Rue n'est pas renseignée.</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group"> 
            <mat-form-field class="full-width" appearance="outline" class="full">
                <mat-label>Numéro</mat-label>
                <input type="number"  matInput formControlName="number" 
                [class.is-invalid]="isFieldValid('number')" 
                >
                <mat-hint class="text-danger" *ngIf="isFieldValid('number')">Numéro n'est pas renseigné.</mat-hint>
            </mat-form-field>
        </div>

        <div *ngIf="!edit" class="form-group">
             <mat-form-field class="full-width" appearance="outline" class="full">
                <mat-label>Email</mat-label>
                <input [class.is-invalid]="isFieldValid('email')"  matInput formControlName="email" placeholder="user@example.com">
                <mat-hint class="text-danger" *ngIf="registrationForm.get('email').errors?.required && registrationForm.get('email').touched ">
                Email n'est pas renseigné.</mat-hint>
                <mat-hint class="text-danger" *ngIf="
                registrationForm.get('email').errors?.email && 
                registrationForm.get('email').touched" >Veuillez entrez un email valide.</mat-hint>
             </mat-form-field>       
         </div>
       
        <div class="form-group">
           <mat-form-field class="full-width" appearance="outline" class="full">
                <mat-label>Mot-de-passe</mat-label>
                <input  type="password" matInput placeholder="Tapez votre mot de passe"  formControlName="password">
                <mat-hint class="text-danger" *ngIf="registrationForm.get('password').errors?.required
                && registrationForm.get('password').touched">Mot-de-passe n'est pas renseigné.</mat-hint>
           </mat-form-field>  
        </div>

        <div class="form-group">
            <mat-form-field class="full-width" appearance="outline" class="full">
                <mat-label>Retapez le mot-de-passe</mat-label>
                <input [class.is-invalid]="registrationForm.errors?.misMatch" type="password" formControlName="confirmPassword"  matInput placeholder="Confirmez votre mot-de-passe" >
                <mat-hint><span class="text-danger" *ngIf="registrationForm.errors?.misMatch">Les deux mot-de-passe ne sont pas conformes.</span>
                <br><span class="text-danger" *ngIf="registrationForm.get('confirmPassword').errors?.required
                && registrationForm.get('confirmPassword').touched">Veuillez confirmez votre mot-de-passe.</span>
                </mat-hint>
            </mat-form-field>
        </div>
    
        <div class="d-flex">
            <div>
                <button style="width: 150px; height:50px;" mat-raised-button type="submit" color="primary" 
                [disabled]="registrationForm.invalid || showSpinner" 
                class="btn-lg"
                >
                    <span *ngIf="showSpinner">Traitement...</span>
                    <span *ngIf="!showSpinner && !edit">Créer un Compte</span>
                    <span *ngIf="!showSpinner && edit">Confirmer</span>
                </button>
            </div>
            <div *ngIf="showSpinner"><mat-spinner diameter="50" color="primary"></mat-spinner></div>
        </div>
    </form> 
  </mat-card-content>
<br>
</div>
<br>
<mat-toolbar>
</mat-toolbar>
</div>