<div class="container p-2">
    <mat-toolbar color="primary">
        <h1>Ajouter des Produits</h1>
        
    </mat-toolbar>
    <h1>Charger un Fichier SCV Respectant la Structure Suivante : </h1>
    <style>
        h3{
            margin-left: 30%;
        }
    </style>
    <h3>title, description, unitPrice, color, providerName, quantityInStock, promotionRatio</h3>
        
<div>
    <mat-card-content>
        <form  class="form" [formGroup]="csvProductsForm" (ngSubmit)="onClickSubmit()"  >
        
            <div class="form-group">   
                 <mat-label> Ajouter un Fichier CSV :  </mat-label>
                <input class="upload" (change)="changeListener($event.target.files)" type="file" formControlName="csvFile" >
                <p *ngIf="fileData" class="m-4" ><b>Fichier chargé :</b></p>
                <div *ngIf="fileData" class="m-2">
                    <p>Nom: {{fileName}}</p>
                    <p>Taille: {{fileSize}} octets</p>
                    <p *ngIf="fileTypeIsNotCsv" style="color: firebrick;">Veuillez choisir un fichier CSV!</p>
                </div>
            </div>
            
            <div class="d-flex">
                <div>
                    <button style="width: 150px; height:50px;" mat-raised-button type="submit" color="primary" 
                    [disabled]="csvProductsForm.invalid || showSpinner || fileTypeIsNotCsv " 
                    class="btn-lg"
                    >
                    
                        <span *ngIf="showSpinner">Traitement...</span>
                        <span *ngIf="!showSpinner">Charger</span>
                    </button>
                </div>
                <div *ngIf="showSpinner"><mat-spinner diameter="50" color="primary"></mat-spinner></div>
            </div>
        </form> 
    </mat-card-content>
</div>