<div>
    <div><button mat-button *ngIf="!textOnly && isUserAdmin()" style="width: 100%;" (click)="goToEdit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/>
        </svg> Modifier 
    </button></div>
    <div class="product-content"  (click)="goToDetails()">
        <div>
            <div *ngIf="!textOnly" class="image">
                <img *ngIf="hasImages()" height="200px" width="180px" src="{{image}}" alt="">
                <img *ngIf="!hasImages()" height="200px" width="180px" src="{{default_image}}" alt="">
            </div>

            <div class="mx-auto price">
                {{product.title}}
            </div>
        </div>
        <div class="mx-auto price">
            {{product.unitPrice}} DH
        </div>

        <div class="description">
            {{product.description}}
        </div>

        <!--<div class="note">
            Note : {{product.note}}
        </div>-->
    </div>
    
</div>