<div>
    <div class="product-content"  (click)="goToDetails()">
        <div>
            <div *ngIf="!textOnly" class="image">
                <img *ngIf="hasImages()" height="200px" width="180px" src="{{products_images_base_url}}{{product.images[0].name}}" alt="">
                <img *ngIf="!hasImages()" height="200px" width="180px" src="{{default_image}}" alt="">
            </div>

            <div class="mx-auto price">
                {{product.title}}
            </div>
        </div>
        <div class="mx-auto price">
            {{product.unitPrice}} DH
        </div>

        <div class="description">
            {{product.description}}
        </div>

        <div class="note">
            Note : {{product.note}}
        </div>
    </div>
</div>