<app-carousel></app-carousel>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum itaque beatae veritatis voluptate repellat! In animi repudiandae, quam eum blanditiis eligendi delectus, ad est a voluptatibus pariatur fugiat tempore.
</p>

<div class="col-md-10 offset-md-1 col-sm-12 align-self-center p-4">
    <form [formGroup]="form">
        <div class="form-field " >
        <mat-form-field appearance="outline" class="full">
            <mat-label>Icon</mat-label>
            <input type="text" matInput  formControlName="searchKeyWord" value="ttttttttttt">
            <mat-icon class="valid" matSuffix>   </mat-icon>
        </mat-form-field>
    </div>
    </form>
</div>
 