<app-carousel></app-carousel>

<div class="col-md-10 offset-md-1 col-sm-12 align-self-center p-4">
    <form [formGroup]="form">
        <div class="form-field " >
            <!--Chips beginning-->
            <mat-form-field class="full" appearance="">
                <mat-chip-list #chipList aria-label="keywords">
                <mat-chip *ngFor="let keyword of keywords" [selectable]="selectable"
                        [removable]="true" (removed)="remove(keyword)">
                    {{keyword}}
                    <span matChipRemove >
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/>
                        </svg>
                    </span>
                </mat-chip>
                <input placeholder="Trouver des produits en utilisant des mots clés"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                <mat-icon matSuffix>
                    <span class="material-icons">search
                    </span>
                </mat-icon>
                </mat-chip-list>
             </mat-form-field>
            <!--Chips end-->
        </div>
    </form>
<!--Products -->
<div class="">
    <div class="d-flex align-content-around flex-wrap">
         <div *ngFor="let product of products" class="p-4">
             <app-product [product]="product"></app-product> 
        </div>
    </div>
</div>

</div>
<!--Center-->