<app-carousel></app-carousel>

<div class="col-md-10 offset-md-1 col-sm-12 align-self-center p-4">
    <form [formGroup]="form">
        <div class="form-field " >
        <mat-form-field appearance="outline" class="full">
            <mat-label></mat-label>
            <input type="text" matInput  formControlName="searchKeyWord" value="ttttttttttt">
            <mat-icon class="valid" matSuffix>   </mat-icon>
        </mat-form-field>
    </div>
    </form>

<!--Products -->
<div class="" >
    <div class="d-flex align-content-around flex-wrap">
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
        <div class="p-4">
            <app-product></app-product> 
        </div>
    </div>
</div>


</div><!--Center-->